@import "../../_variables";

#footer {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  .copyright {
    position: absolute;
    bottom: 0;
    border-top: 1px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5em;
  }
}
