@import "../../_variables";

$socialsPosition: 0.5em;
$socialsButtonSize: 30px;
$socialsButtonIconSize: 65%;

.socials-share {
  position: absolute;

  top: $socialsPosition;
  right: $socialsPosition;
  display: flex;
  gap: 0.25em;
  background: $bg2;
  padding: 0.25em;
  border-radius: 10px;

  button {
    outline: 0;
    border: 0;
    border-radius: 10px;
    background: $mountmeadow;
    padding: 0;
    height: $socialsButtonSize;
    width: $socialsButtonSize;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    cursor: pointer;

    svg {
      width: $socialsButtonIconSize;
      height: $socialsButtonIconSize;

      path {
        color: $antiflashwhite;
      }
    }
  }
}

.blog-post header .socials-share {
  top: unset;
  bottom: -4em;
  right: 0.5em;
}

.copy-link {
  &:hover {
    animation: click-copy-link 0.3s;
  }
  @keyframes click-copy-link {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2) rotate(10deg);
    }
    100% {
      transform: scale(1);
    }
  }
}
